*{
    margin:0;
    padding:0;
    font-family: "Poiret One", sans-serif;
    font-weight: 500; 
     
}
.main_box{
    background-image:url("photo.jpg");
    height:100vh;
    background-size:cover;
}
.btn_one{
    color:#b7b3b3;
    font-size:25px;
    font-weight:700;
    position:absolute;
    left:50px;
    line-height:60px;
    /* cursor:pointer; */
}

.sidebar_menu{
    position:fixed;
    height:100vh;
    width:250px;
    background-color:#363332;
    /* opacity:0.5; */
    box-shadow:0 0 15px white;
}
.sidebar_menu .logo{
    position:absolute;
    line-height:60px;
    width:100%;
    box-shadow:00 4px white;
}


.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color:#eae6e1;
    font-size:20px;
    text-decoration:none;
}

.sidebar_menu .menu{
    color:#FB3904;
    width:100%;
    position:absolute;
    top:80px;
    left:10px;
    /* line-height:40px; */
}
.sidebar_menu .btn_two
{
    color:#b7b3b3;
    font-size:20px;
    font-weight:700;
    position:absolute;
    left:220px;
    line-height:60px;
    opacity:1;
    cursor:pointer;
}
.sidebar_menu .menu li{
    margin:4px;
    padding:8px 10px;
    

}

.sidebar_menu .menu a{
    color:#eae6e1;
    font-size:20px;
    text-decoration:none;
    
}

.sidebar_menu .menu i{
    margin:5px;
    padding-right:10px;
    font-size:25px;
}

.sidebar_menu .social_media{
    position:absolute;
    bottom:50px;
    margin-left:50px;
       
}

.sidebar_menu .social_media a{
    color:aqua;
    opacity:1;
    margin:2px;
    padding:2px;
    font-size:20px;
    opacity:0.5;
    
}
#check{
    display:none;
}


.sidebar_menu .menu li:hover{
    background-color:#f79c5b;
    box-shadow:2px 2px 5px white;
}

/* .btn_one:hover{
    font-size:40px;
    
} */

.btn_two:hover{
    font-size:30px;
}

.sidebar_menu .social_media #facebook:hover{
    transform:scale(1.2);
    opacity:1;
    color:#1877F2;

}
.sidebar_menu .social_media #twitter:hover{
    transform:scale(1.2);
    opacity:1;
    color:#1DA1F2;

}
.sidebar_menu .social_media #instagram:hover{
    transform:scale(1.2);
    opacity:1;
    color:#FCAF45;

}
.sidebar_menu .social_media #youtube:hover{
    transform:scale(1.2);
    opacity:1;
    color:#Ff0000;

}
